* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Open Sans", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.wrapper__calc {
  width: 900px;
  margin: 20px auto;
}
.container__calc {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
}
.img__container {
  width: 240px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
.img__container img {
  display: block;
  width: 100%;
}
.darkGreenClr {
  background-color: #0a8c28 !important;
  color: #fff;
}
.header__calc {
  width: 100%;
  padding: 10px;
}
.heading__primary--calc {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.heading__secondary--calc {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #464646;
}
.error__container {
  background-color: #ff000072;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  display: none;
}
.err__msg {
  color: #fff;
  display: block;
  padding: 10px;
  text-transform: capitalize;
}
.input__container--calc {
  padding: 10px;
  width: 100%;
  background-color: #ddd;
}
.row__calc {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row_calc {
  padding: 5px;
  width: 100%;
}
.label__calc {
  display: block;
  font-size: 17px;
  color: #000;
  margin: 5px 0px;
}
.combined__calc {
  width: 50%;
  padding: 5px 0px;
}
.energy__banking--container {
  color: #000;
}
.section__calc {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  background-color: #fff;
  padding: 10px;
}
.input__calc {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
.input__calc:focus {
  outline: 0px;
  background-color: #f7f7f7;
}
.input__calc:disabled {
  background-color: #f3f2f2;
}
.legend__calc {
  font-size: 12px;
}
.output__container--calc {
  padding: 10px;
  position: relative;
  background-color: #060668;
  color: #fff;
}
.table__output--container {
  width: 100%;
  background-color: #fff;
  color: #000;
  /* filter: blur(10px); */
}
.heading__tertiary--calc {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  /* border-bottom: 1px solid #000099 */
  background-color: #2c616f;
  color: #fff;
}
.row__table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  padding: 5px;
  color: #000;
  font-size: 19px;
}
.table__label {
  font-size: 15px;
  display: block;
}
.table__percentage {
  text-align: center;
  display: block;
}
.table__value {
  text-align: center;
  display: block;
}
.main__result--calc {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.result__box {
  padding: 10px;
  border-radius: 5px;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result__label {
  font-weight: bold;
  margin-bottom: 3px;
  font-size: 13px;
  display: block;
}
.result__value {
  font-size: 16px;
}
.fieldset__calc {
  padding: 10px;
  border: 1px solid #ddd;
}
.btn__calc {
  padding: 10px 40px;
  background-color: rgb(0, 0, 153);
  color: #fff;
  text-transform: uppercase;
  border: 0px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn__calc:hover {
  background-color: #060668;
}
.btn__calc:focus {
  outline: 0px;
}

/* COTS */

.row_calc-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 6px 0px;
}
.paddingbtm {
  padding: 10px;
}
.input_calc {
  width: 100%;
  padding-bottom: 0px;
}

.start_value {
  font-size: 13px;
  color: rgb(143, 143, 143);
  padding-top: 0px;
  padding-bottom: 10px;
}
.borderbtm {
  border-bottom: 1px solid #ddd;
}

.selectOption {
  padding: 6px;
  border: 1px solid rgb(197, 197, 197);
  width: 100%;
  margin-bottom: 10px;
  color: #2c616f !important;
}
.light__text {
  font-size: 12px;
  font-weight: 400;
  display: block;
}
.backgroundCol {
  background-color: #ddd;
}
.form__output--calc {
  padding: 10px;
  z-index: 10000;
  left: 0px;
  right: 0px;
  width: 100%;
  margin: 0 auto;
  /* display: none; */
}
#contact-form {
  background-color: #060668;
  color: #fff;
  padding: 10px;
}
.heading__tertiart--calc-form {
  padding: 10px 0px;
}
/* Phase 2 style customization */
.section2 {
  /* display: block; */
}
.section1 {
  /* display: none; */
  margin-bottom: 20px;
}
.controller__calc {
  padding: 10px;
  display: none;
}
.btn__controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__ctrl {
  padding: 7px 30px;
  border: 0px;
  text-align: center;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.btn__ctrl:hover {
  opacity: 0.8;
}
.btn__ctrl:focus {
  outline: 0px;
}
.stepList__ctrl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.step__ctrl {
  background-color: #ddd;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.current__step {
  background-color: #000;
}
.btn__pre {
  background-color: #ddd;
}
.btn__next {
  background-color: #060668;
  color: #fff;
}
.controller__info,
.section__info {
  padding: 10px;
  background-color: #ddd;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  font-size: 16px;
}
.section__info {
  width: 100%;
}
.grid3x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.output__container--calc-es {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}
.grid__box {
}
.heading__section--calc {
}
.list__esres {
  list-style: none;
}
.item__esres {
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #f2f2f2;
  padding: 5px;
  font-weight: 700;
}
.emphasize {
  background-color: #ddd;
}
.emphasize__blue {
  background-color: #035a17;
}
.bg__gray {
  background-color: #f2f2f2;
  color: #000;
}
.heading__section--calc {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
.bg__gray--red {
  background-color: #f2f2f2;
  color: #ff0000;
}
.bg__red {
  background-color: #ff0000;
  color: #fff;
}
.bg__red--emphasize {
  background-color: #a70000;
}
.bg__blue {
  background-color: #0a8c28;
  background-color: #f2f2f2;
}
@media only screen and (max-width: 900px) {
  .wrapper__calc {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .container__calc {
    grid-template-columns: 1fr;
  }
  .section__calc {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  .form__output--calc {
    width: 80%;
  }
}
@media only screen and (max-width: 630px) {
  .row__calc {
    flex-direction: column;
  }
  .combined__calc {
    width: 100%;
  }
  .label__calc {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .main__result--calc {
    grid-template-columns: 1fr;
  }
  .row__table {
    grid-template-columns: 1fr;
  }
  .table__label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .non__responsive {
    display: none;
  }
}
